<a href="https://colab.research.google.com/github/NehaChethan/dataScienceProjects/blob/main/python_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello 123")

hello

In [2]:
''' shortcuts :
 # 1. a : add a cell above
 # 2. b : add a cell above
 # 3. m : conver the cell to markdown
 # 4. y: convert cell to code
 # 5. dd: delete cell
 # 6. shift + enter is used to run the cell
 '''
#Using triple-quoted string literals: Triple single quotes (''') or triple double quotes (""") can be used to enclose a multi-line string. If this string is not assigned to a variable or used in an expression, the Python interpreter will ignore it, effectively treating it as a multi-line comment.

' shortcuts :\n # 1. a : add a cell above\n # 2. b : add a cell above\n # 3. m : conver the cell to markdown\n # 4. y: convert cell to code\n # 5. dd: delete cell\n # 6. shift + enter is used to run the cell\n '

In [3]:
'''
 1. h1 heading: #
 2. h2 heading: ##
'''

'\n 1. h1 heading: #\n 2. h2 heading: ##\n'

In [4]:
# To get a documentation of a particular function use '??'
print??

**Variables**

In [7]:
test = 'test'

**Check data type**

In [8]:
type(test)

str

Data Types

In [9]:
string_variable = 'string'
integer_variable = 123
float_variable = 12.31
# boolean variable
true_variable = True
false_variable = False

In [13]:
type_casting_variable_str = str(123)
print(type(type_casting_variable_str))

type_casting_variable_int = int('1234')
print(type(type_casting_variable_int))

type_casting_variable_float = float(123)
print(type(type_casting_variable_float))

type_casting_variable_boolean = bool(0)
print(type(type_casting_variable_boolean))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>