<a href="https://colab.research.google.com/github/NehaChethan/dataScienceProjects/blob/main/python_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/watch?v=yGN28LY5VuA&t=403s

In [ ]:
print("hello 123")

hello

In [ ]:
''' shortcuts :
 # 1. a : add a cell above
 # 2. b : add a cell above
 # 3. m : conver the cell to markdown
 # 4. y: convert cell to code
 # 5. dd: delete cell
 # 6. shift + enter is used to run the cell
 '''
#Using triple-quoted string literals: Triple single quotes (''') or triple double quotes (""") can be used to enclose a multi-line string. If this string is not assigned to a variable or used in an expression, the Python interpreter will ignore it, effectively treating it as a multi-line comment.

' shortcuts :\n # 1. a : add a cell above\n # 2. b : add a cell above\n # 3. m : conver the cell to markdown\n # 4. y: convert cell to code\n # 5. dd: delete cell\n # 6. shift + enter is used to run the cell\n '

In [ ]:
'''
 1. h1 heading: #
 2. h2 heading: ##
'''

'\n 1. h1 heading: #\n 2. h2 heading: ##\n'

In [ ]:
# To get a documentation of a particular function use '??'
print??

**Variables**

In [ ]:
test = 'test'

**Check data type**

Rules for writing a variable

1.   Variable names can only contain letters, digits and underscores (_).
2.   A variable name cannot start with a digit.
3.   Variable names are case-sensitive (myVar and myvar are different).
4.   Avoid using Python keywords (e.g., if, else, for) as variable names.

In [ ]:
type(test)

str

Data Types

In [ ]:
string_variable = 'string'
integer_variable = 123
float_variable = 12.31
# boolean variable
true_variable = True
false_variable = False

In [ ]:
type_casting_variable_str = str(123)
print(type(type_casting_variable_str))

type_casting_variable_int = int('1234')
print(type(type_casting_variable_int))

type_casting_variable_float = float(123)
print(type(type_casting_variable_float))

type_casting_variable_boolean = bool(0)
print(type(type_casting_variable_boolean))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# a = 123 + 'str' we cannot add operands of 2 different data types.
# c = 'str' + True

In [ ]:
b = 123 + 123.0
print ( b )

246.0

**List**

In [2]:
a = [10,'string',True,[],10.2]

In [6]:
a[0] = 20

In [7]:
print( a )

[20, 'string', True, [], 10.2]

**Tuple** : Tuple is similar to list tuple is enclosed with '()' the difference between tuple and list is tuple is immutable that is it cannot be changed.

In [4]:
tuple_variable = (10,'string',True,[],10.2)
print(tuple_variable)

(10, 'string', True, [], 10.2)

In [9]:
tuple_variable[0] = 20

TypeError: 'tuple' object does not support item assignment

if you want to modify a tuple convert it to list change the values and convert it back to a tuple

In [10]:
tuple_example = (1,2,3,4,5)
converted_to_list = list(tuple_example)
converted_to_list[0] = 6
converted_to_tuple = tuple(converted_to_list)
print( converted_to_tuple )

(6, 2, 3, 4, 5)

**Set**

In [11]:
set_variable = {10,'string',True,[],10.2}

TypeError: unhashable type: 'list'

In [14]:
set_example_1 = {1,2,3,4.5,6,'test',True}


1.   Sets are immutable.
2.   Sets cannot have same value.

In [15]:
set_example_2 = {1,2,3,4,1,2}
print(set_example_2)

{1, 2, 3, 4}

In [17]:
# Remove multiple values from the list
list_example = [1,2,3,5,6,1,3,4,5]
unique_values = list(set(list_example))
print(unique_values)

[1, 2, 3, 4, 5, 6]

**Dictionary** : they are mutable

In [20]:
dict_variable = {'a':'1','b':2,'c':3.0,'d':[1,2],'e':(1,2),'f':{1,2} }
dict_variable['a']

'1'

 **CRUD operations on a list**

In [22]:
# Create
names = ['test','best','rest','nest']

In [23]:
#Read
print(names)
print(names[-1])

['test', 'best', 'rest', 'nest']
nest

In [24]:
len(names)

4

In [28]:
#Update
names[0] ='chest'
print(names)
names.append('fest')
print(names)
names.insert(2,'test')
print(names)

['chest', 'best', 'rest', 'nest', 'fest']
['chest', 'best', 'rest', 'nest', 'fest', 'fest']
['chest', 'best', 'test', 'rest', 'nest', 'fest', 'fest']

In [30]:
## to get the details of a particular function
names.append??

In [32]:
# Delete
del names[-1]
print(names)
del names[2]
print(names)

['chest', 'best', 'test', 'rest', 'nest']
['chest', 'best', 'rest', 'nest']

 **CRUD operations on a Dictionaries**

In [33]:
#Create
dict_example = {'a':'1','b':2,'c':3.0,'d':[1,2],'e':(1,2),'f':{1,2} }

In [37]:
# Read
print(dict_example)
print(dict_example['e'])
print(dict_example.keys())
print(dict_example.values())

{'a': '1', 'b': 2, 'c': 3.0, 'd': [1, 2], 'e': (1, 2), 'f': {1, 2}}
(1, 2)
dict_keys(['a', 'b', 'c', 'd', 'e', 'f'])
dict_values(['1', 2, 3.0, [1, 2], (1, 2), {1, 2}])

In [39]:
#Update
dict_example['a'] = '2'
print(dict_example)
dict_example['g'] = {'0':'1'}
print(dict_example)

{'a': '2', 'b': 2, 'c': 3.0, 'd': [1, 2], 'e': (1, 2), 'f': {1, 2}}
{'a': '2', 'b': 2, 'c': 3.0, 'd': [1, 2], 'e': (1, 2), 'f': {1, 2}, 'g': {'0': '1'}}

In [45]:
#Delete
print(dict_example['d'])
del dict_example["d"]
print(dict_example)

[1, 2]
{'a': '2', 'b': 2, 'e': (1, 2), 'f': {1, 2}, 'g': {'0': '1'}}

**Conditions**

In [49]:
#if statement
name = 10
if name == 10:
  print("hello")
name = '10'
if name == 10:
  print("hello 1")
if name == str(10):
  print("hello 2")
if 0 == False:
  print("hello 3")

hello
hello 2
hello 3

In [53]:
test = 1
if test == 1:
  print('test')
elif test == 2:
  print('test1')
else:
  print('test3')

test

In [56]:
test_values = ['a','b','c']
if 'a' in test_values:
  print('a')
elif 'm' in test_values:
  print('m')
else:
   print('test')

a

In [58]:
#Escape statement
print('Elon\'s here')

Elon's here

2: 15